@charset "utf-8";
   @font-face {
      font-family:'blox2';
      src: url('Blox2.ttf') format('truetype');
   }
 
html{
   
}

 body {
    background-color: black;
    margin: 0px auto;
    width: 90%;
    max-width: 1000px;
    min-width: 800px;
    text-align: center;
 }
header{
    width:100%;
    padding-left:0;
}

/* Nav Styles */

nav{
   transform: translateY(-250px);
   transform: translateX(-200px);
   position: fixed;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100px;
   background-color: rgb(75, 75, 75);
 }
 li a {
   color: rgb(255, 255, 255);
   text-shadow:  rgb(145, 145, 145) 1px 0px 0px, rgb(0, 0, 0) 2px 0px 5px;
   display: block;
   padding: 40px 18px 50px;
   text-decoration: none;
 }
 li a:hover {
   background-color: rgb(27, 27, 27);
   color: white;
 }
h1#name{
   color:rgb(0,255,255);
   font-family: 'blox2';
   text-shadow:  rgb(0, 145, 145) 1px 0px 0px, rgb(0, 145, 145) 2px 0px 5px;
   font-size:10em;
   
   
}